*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background: black;
}

.side-nav{
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    padding: 20px, 30px;
    
}

.logo{
    display: block;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;

}

.logo {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 900;
}

.nav-links{
    list-style: none;
    position: relative;
     margin-top: 20px;
    margin-left: 20px;
}

.nav-links li{
    padding: 10px 0px;
}

.nav-links li a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 6px ;

}

.nav-links li a i{
    font-size: 20px;
    margin-right: 10px;
}


